<form method="POST" action="." class="form bs-example form-horizontal">
      {{ form.csrf_token }}
      <input type="hidden" name="next" value="{{ next }}" />
  <div>
      {{ form.position.label }}: {{ form.position(class="css_class") }}
      {% if form.position.errors %}
        <ul class="errors">{% for error in form.position.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
  </div>
  <div>
      {{ form.startdate.label }}: {{ form.startdate(class="css_class") }}
      {% if form.startdate.errors %}
        <ul class="errors">{% for error in form.startdate.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
  </div>
  <div>
      {{ form.location.label }}: {{ form.location(class="css_class") }}
      {% if form.location.errors %}
        <ul class="errors">{% for error in form.location.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
  </div>
  <div>
      {{ form.applicationlink.label }}: {{ form.applicationlink(class="css_class") }}
      {% if form.applicationlink.errors %}
        <ul class="errors">{% for error in form.applicationlink.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
  </div>
  <div>
      {{ form.description.label }}: {{ form.description(class="css_class") }}
      {% if form.description.errors %}
        <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
  </div>
    <button type="submit" value="Login" class="btn btn-primary">Add</button>
</form>