<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>CS FSU Internships</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="/static/images/fsu_seal.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="my-container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Doak_Campbell416.jpg/1920px-Doak_Campbell416.jpg">


  <div class="container">
    <div class="row">
      <div class="two column" style="margin-top: 25%">
        <h3><strong><center>Florida State University - CS Internships</h3></center></strong>
        <center><p>Here to help you find Internships through FSU!</p></center>
      </div>

  <div class="offset-by-four column">
  <a class="button button-primary" a href="/student/login/">I'm a Student</a>
  <a class="button button-primary" a href="/company/login/">I'm an Employer</a>
    </div>
  <div class="offset-by-five columns">
    <a class="button button-primary" a href="/company/apply/">Company Application</a>
      </div>

  </div>
  </div>
  </div>
  </div>
  </div>





<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>