<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/fsu_seal.png">

    <title>CS FSU Internships</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/navbar-static-top.css') }}" rel="stylesheet">

      <!-- Pure CSS Templates -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <style>
    body {
    background-color: #862633;
    }
  </style>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">FSU Internships</a> -->

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><img src="/static/images/fsu_seal.png" style="width:58px;height:58px"></li>
            <li><a href="/student/home">Home</a></li>
            <li class="active"><a href="#">Search</a></li>
            <li><a href="/student/settings/">Settings</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
        </nav>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script>
        $(function(){
            var $rows = $('#internship_tb tbody tr');
            $('#search').keyup(function() {
            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                reg = RegExp(val, 'i'),
                text;

            $rows.show().filter(function() {
                text = $(this).text().replace(/\s+/g, ' ');
                return !reg.test(text);
            }).hide();
            });
        });
    </script>
    <title>Internship Search</title>

    <div class="container">
        <div class="jumbotron" style="background-color:#ffffff !important">
            <h1 style="font-size: 38.5px; text-align: center">Internship Finder</h1>
<input type="text" id="search" placeholder="Type to search"> <br> <br>
<table id="internship_tb" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Location</th>
            <th>Start Date</th>
        </tr>
    </thead>
    <tbody>
          {% for i in internships %}
            <tr a href="/student/search/listing">
                <td><a  href="/student/search/listing/{{ i.id }}"> {{ i.company.name }} </a></td>
                <td>{{ i.position }}</td>
                <td>{{ i.location }}</td>
                <td>{{ i.startdate }}</td>
                <td style="display:none;">{{ i.description }}</td>
                </tr>
          {% endfor %}
    </tbody>
</table>
        </div>
        </div>


<script>
var tf = new TableFilter('my-table-id', {
    base_path: '../tablefilter/'
});
tf.init();
</script>


</body>
</html>