

<div class="row">
  <div class="col-lg-6" style="float: none; margin: 20px auto;">
  <form method="POST" action="." class="form bs-example form-horizontal">
    {{ form.csrf_token }}
    <input type="hidden" name="next" value="{{ next }}" />
    <br>
    {{ render_field(form.email, class="form-control", placeholder="email") }}
    <br>
    {{ render_field(form.password, class="form-control", placeholder="password") }}
    <br>
    <button type="submit" value="Login" class="btn btn-primary">Login</button>
  </form>
  </div>
  </div>