<form method="POST" enctype="multipart/form-data" action="." class="form bs-example form-horizontal">
      {{ form.csrf_token }}
      <input type="hidden" name="next" value="{{ next }}" />
  <div>
      {{ form.first_name.label }}: {{ form.first_name(class="css_class") }}
      {% if form.first_name.errors %}
        <ul class="errors">{% for error in form.first_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
  </div><div>
      {{ form.last_name.label }}: {{ form.last_name(class="css_class") }}
      {% if form.last_name.errors %}
        <ul class="errors">{% for error in form.last_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
  </div><div>
    {{ form.resume.label }}: {{ form.resume(class="css_class") }}
    {% if form.resume.errors %}
               <ul class="errors">{% for error in form.resume.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div><div>
    {{ form.about(rows=25, cols=50) }}
</div>
        <button type="submit" value="Save" class="btn btn-primary">Save</button>
</form>